body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

.dynamic-background {
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 838px;
    opacity: 0.6;
    z-index: -1;
    animation: change-background 30s ease-in-out infinite;
}

@keyframes change-background {
    0% {
        background-image: url("../images/first-background.avif");
    }

    22.22% {
        background-image: url("../images/first-background.avif");
    }

    33.33% {
        background-image: url("../images/second-background.jfif");
    }

    44.44% {
        background-image: url("../images/second-background.jfif");
    }

    55.55% {
        background-image: url("../images/third-background.avif");
    }

    66.66% {
        background-image: url("../images/third-background.avif");
    }

    77.77% {
        background-image: url('../images/fourth-background.avif');
    }

    88.88% {
        background-image: url('../images/fourth-background.avif');
    }

    100% {
        background-image: url("../images/first-background.avif");
    }
}

.main-section {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 0px 90px 50px;
    color: black;
}

.main-section>section>.main-title-big {
    font-size: 40px;
    margin: 0;
    padding-right: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.main-section>section>.main-title-small {
    text-align: right;
    margin: 0;
    padding-right: 80px;
    font-size: 30px;
    color: black;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.custom-shadow {
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

.centralize {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.d-flex>a>button {
    background-color: white;
    width: 200px;
}

.d-flex>a>button:hover {
    animation: buttonAnimate 0.5s ease-in-out;
    width: 250px;
    background-color: black;
    color: khaki;
}

.container_content {
    display: flex;
}

.container_content>.content_big {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    padding-top: 40px;
    box-sizing: border-box;
}

.container_content>.content_small {
    display: inline-flex;
    width: 40%;
    padding: 30px 20px 20px 30px;
    flex-direction: column;
}

.content_small>.title {
    padding: 20px 0px 20px 40px;
}

.content_small>.container_column {
    padding: 0px 40px 15px 40px;
}

.content_small>.container_column>.column_section {
    background-color: white;
    display: flex;
    padding-bottom: 20px;
}

.column_section>.column_section-left {
    width: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.column_section>.column_section-left>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.column_section>.column_section-right {
    width: 75%;
    display: inline-flex;
    align-items: center;
}

.column_section>.column_section-right>.content {
    display: block;
    padding: 0px 20px 0px 20px;
}

.column_section>.column_section-right>.content>h4 {
    height: 25%;
    padding-bottom: 5px;
    border-bottom: 2px solid paleturquoise;
}

.column_section>.column_section-right>.content>p {
    margin: 0;
    height: 75%;
    padding: 0px 20px 0px 10px;
}

@keyframes buttonAnimate {
    0% {
        width: 200px;
    }

    100% {
        width: 250px;
        background-color: black;
        color: khaki;
    }
}